
<h1 class="ui-slide-heading"><%= slide.heading %></h1>

<div class="social-feed-container <%= slide.orientation %>" id="social-feed"></div>

<script>
  $("#social-feed").chapmanSocialFeed({
    url: "<%= slide.feed_url %>",
    per: 20,
    max_columns: <%= (slide.orientation == 'vertical') ? 3 : 4 %>,
    realtime: true,
    realtime_server_url: 'https://social.chapman.edu:8000/faye'
  });
</script>