.admin-navigation-container {
  @include outer-container;
  text-align: center;
}

.admin-navigation {
  display: inline-block;
  background-color: $blue;
  text-align: center;
  padding: $base-spacing/2;
  border-radius: 0 0 6px 6px;
  color: white;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.4);

  a {
    color: white;
    display: inline-block;
    margin: 0 8px;
  }
}

.notifications-container {
  padding-top: $base-spacing*2;
  @include outer-container;

  h4 {
    font-weight: 300;
  }
}

.notifications-listing {
  @include span-columns(6);
}

.activities-listing {
  @include span-columns(6);
}

.notifications-centered {
  margin-left: 25%;
  float: none;
  text-align: center;
}

.activity-item {
  p {
    margin: 0;
  }
  a {
    font-weight: bold;
  }
  padding: $base-spacing 2px;
  .timestamp {
    color: $light-gray;
    font-size: 12px;
  }
}


.unapproved-sign-slide {
  padding: $base-spacing 2px;
  @include clearfix;

  .screenshot {
    display: block;
    width: auto;
    height: 300px;
    margin: 0 auto;
  }

  .daterange span {
    padding: 0 8px;
  }

  .approve-sign-slide {
    float: left;
  }
  .reject-sign-slide {
    float: right;
  }
}