html.sessions {
  .navbar, .admin-footer { display: none; }
}

.sign-in-heading {
  max-width: 300px;
  margin: 0 auto;
  height: 31px;
  margin-top: $base-spacing * 4;
  svg {
    display: inline-block;
    width: 31px;
    height: 31px;
    float: left;
  }

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    height: 31px;
    padding-top: 8px;
    margin-left: 8px;
  }
}

.sign-in-form {
  padding-top: $base-spacing*2;
  max-width: 300px;
  margin: 0 auto;

  .btn {
    width: 100%;
  }

  .remember-me {
    margin-top: $base-spacing;
  }

  .actions {
    margin-top: $base-spacing;
  }
}