/* Listing Signs */

.sign-list-item {
  @include outer-container;
  padding: $base-spacing;
  border-top: 1px solid lighten($light-gray, 30%);
}

.sign-list-item-status {
  @include span-columns(1);
  text-align: center;
}

.sign-list-item-info {
  @include span-columns(6);
  .title {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }
  .slides img {
    width: 40px;
    height: auto;
  }
  .slides p {
    display: inline-block;
    font-size: 11px;
    color: $light-gray;
  }
}

.sign-list-item-actions {
  @include span-columns(4);
  text-align: right;
}



.sign-inactive, .sign-active {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 5px;
}

.sign-active {
  width: 8px;
  height: 8px;
  background-color: $green;
  box-shadow: 0 0 5px 5px $green;
}

.sign-inactive {
  background-color: $light-gray
}

/* Sign Show */
.show-sign-container {
  @include outer-container;
  padding-top: $base-spacing*2;

  .sign-info {
    @include span-columns(6);

    .title {
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 8px;
    }
    .info {
      color: $light-gray;
      font-size: 11px;
      margin-bottom: 0;
    }
  }
  .sign-slides {
    @include span-columns(6);
  }
}

.sign-slide-list-item {
  @include clearfix;
  width: 100%;
  margin-bottom: $base-spacing*2;

  .left-actions, .screenshot, .right-actions {
    float: left;
    height: 100px;
  }

  .left-actions{
    position: relative;
    width: $base-spacing;
    svg {
      width: 14px;
      position: absolute;
      left: 0;
    }
    .destroy-sign-slide { top: 0; }
    .reorder-handle     { bottom: 0; cursor: move; }
  }
  .screenshot {
    background: $dark-gray;
  }
  .right-actions {
    p { margin-bottom: 8px; }
    padding-left: $base-spacing;
  }
}

/* Sign Form */

.sign-form-container {
  @include outer-container;
  padding-top: $base-spacing*2;

  form {
    @include span-columns(5);
  }
  .sign-slides-listing {
    @include span-columns(6);
    @include shift(1);
  }
}

