<div id="ui-feed" class="ui-feed ui-feed--show-mouse">

  <%= render "devices/menus/#{@device.menu}" %>

  <main class="owl-carousel" role="main" >
    <%= render(@device.slides) %>
    <%= render 'notification' unless @device.notification.empty? %>
    <%= render 'emergency'    unless @device.emergency.empty?    %>
  </main>
</div>