<div class="notifications-container">

  <div class="notifications-listing <%= 'notifications-centered' if controller_action == 'notifications#index' %>">
    <h4>Notifications</h4>
    <%= render partial: 'notifications/notifications',
               collection: @user_slides_collection,
               as: :notification %>
  </div>

  <% if controller_action == 'home#index' %>
    <div class="activities-listing">
      <h4>Recent Activity</h4>
      <%= render 'notifications/activities' %>
    </div>
  <% end %>

  <% if params[:controller] == 'notifications' %>
    <%= will_paginate @user_slides_collection, :previous_label => '« Prev', :next_label => 'Next »', :inner_window => 1, :outer_window => 0 %>
  <% end %>
</div>