---
http_interactions:
- request:
    method: get
    uri: http://www2.chapman.edu/digital-signage/devices/bertea-hall-entrance/slideshow.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n{\"id\": \"Bertea Hall - Entrance\",\n\"template\": \"../../_files/tpl/default.mustache\",\n\"location\":
        \"Bertea Hall\",\n\"collection\": [\n\n                                                \n\n
        \                              \n            \t\t\t            \n                        \n\t\t\t
        \                                   \n\t\t                                    \n\n
        \                   \t       \n            \t\t\t            \t                                                                                                                \n
        \                                   \t            [...]
