---
http_interactions:
- request:
    method: get
    uri: https://webfarm.chapman.edu/RoleIdentity/api/Role/jkerr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"username":"jkerr","role":["student"],"firstname":"James","lastname":"Kerr","email":"jkerr@chapman.edu","staff_department":null,"faculty_department":null,"school":"COMP","major":"BS
        in Computer Information Systems"}'
  recorded_at: Tue, 02 Feb 2016 16:35:01 GMT
recorded_with: VCR 2.9.3
