---
http_interactions:
- request:
    method: get
    uri: https://webfarm.chapman.edu/RoleIdentity/api/Role/loehner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"username":"loehner","role":["student"],"firstname":"Ross","lastname":"Loehner","email":"loehner@chapman.edu","staff_department":null,"faculty_department":null,"school":"EDUC","major":"MA
        in Leadership Development"}'
  recorded_at: Thu, 17 Mar 2016 16:25:00 GMT
recorded_with: VCR 2.9.3
