---
http_interactions:
- request:
    method: get
    uri: https://rss.blackboardconnect.com/138874/digital-signage/feed.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Mon, 21 Jul 2014 23:25:00 GMT
      Etag:
      - '"df3b9fd3aa5cf1:0"'
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><rss version="2.0"><channel><title>http://rss.blackboardconnect.com/138874/digital-signage/feed.xml</title><link>http://rss.blackboardconnect.com/138874/digital-signage/feed.xml</link><description>Screens on campus</description><lastBuildDate>Fri, 11 Jul 2014 21:36:05 GMT</lastBuildDate><language>en-Us</language><image><url>https://www.blackboardconnected.com/images/institutionlogos/logo_138874.gif</url><title>http://rss.blackboardconnect.com/138874/digital-signage/feed.xml</title><link>http://rss.blackboardconnect.com/138874/digital-signage/feed.xml</link></image><atom:link rel="self" type="application/rss+xml" href="http://rss.blackboardconnect.com/138874/digital-signage/feed.xml" xmlns:atom="http://www.w3.org/2005/Atom" /><item><guid isPermaLink="false">http://rss.blackboardconnect.com/167631/digital-signage/9202580.xml</guid><title>Active Shooter 1</title><link>http://rss.blackboardconnect.com/167631/digital-signage/9202580.xml</link><description>This is a test. This is only a test. Thank you.</description><pubDate>Fri, 11 Jul 2014 21:36:05 GMT</pubDate></item><item><guid isPermaLink="false">http://rss.blackboardconnect.com/167631/digital-signage/9202580.xml</guid><title>Active Shooter 2</title><link>http://rss.blackboardconnect.com/167631/digital-signage/9202580.xml</link><description>This is a test. This is only a test. Thank you.</description><pubDate>Fri, 11 Jul 2014 21:36:05 GMT</pubDate></item></channel></rss>'
  recorded_at: Tue, 25 Aug 2015 15:37:03 GMT
recorded_with: VCR 2.9.3
