---
http_interactions:
- request:
    method: get
    uri: https://webfarm.chapman.edu/RoleIdentity/api/Role/super_admin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"username":"super_admin","role":"student","firstname":"Super","lastname":"Admin","email":"super_admin@chapman.edu","staff_department":null,"faculty_department":null,"school":null,"major":null}'
  recorded_at: Fri, 10 Feb 2017 21:03:45 GMT
recorded_with: VCR 2.9.3
