<div class="content-container">
  <p>
  	<strong>Name:</strong>
  	<%= @sponsor.name %>
  </p>
  <p>
  	<strong>Icon:</strong>
  	<%= @sponsor.icon %>
  </p>
  <%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
  <%= link_to 'Back', sponsors_path %>
</div>