<article id="js-emergency-slide" class="ui-slide ui-slide--emergency">

  <% if @sign.emergency? # A manual emergency takes presedence over panther alert %>
    <h1 class="ui-slide-heading"><%= @sign.emergency %></h1>
    <p class="ui-slide-content"><%= @sign.emergency_detail %></p>
  <% elsif @sign.campus_alert? %>
    <h1 class="ui-slide-heading"><%= @sign.latest_campus_alert['title'] %></h1>
    <p class="ui-slide-content"><%= @sign.latest_campus_alert['description'] %></p>
  <% end %>

</article>