<article id="js-emergency-slide" class="ui-slide ui-slide--emergency">

  <% if @sign.emergency? %>
    <h1 class="ui-slide-heading"><%= @sign.emergency_alert %></h1>
    <p class="ui-slide-content"><%= @sign.emergency_alert_detail %></p>
  <% end %>

</article>
