<%= link_to '<< All Devices', signs_path, class: 'home-button' %>

<%= link_to 'Play', @device, style: 'float: right;' %>
<h1 class="admin-page-title">Editing Device</h1>

<%= link_to "Delete", @device, style: 'float: right;', method: 'delete', data: {confirm: 'Are you sure you want to delete this thing?'} %>
<%= render 'form' %>