<div class="search-filters-container">
  <div class="search input-field">
    <input id="search" type="text">
    <label for="search">Search</label>
  </div>
  <div class="filter">
    <label>Filter:</label>
    <div class="pill-buttons" id="signs-filters">
      <%= filter_pill_link('All', 'all') %><%= filter_pill_link('Mine', 'mine') %>
    </div>
  </div>
  <div class="new">
    <%= new_button("New", new_sign_path) %>
  </div>
</div>

<div id="signs-listing">
  <%= render @signs %>
</div>
