.pagination {
  margin: 20px 0 0 0;
  font-style: normal;

  :not(:first-child):not(:last-child):not(.gap) {
    padding: 5px 15px;
    margin: 0 5px;
    text-decoration: none;
    font-style: normal;
    color: black;

    &:hover {
      padding: 5px 15px;
      background: $gray;
      border-radius: 4px;
    }
  }

  .current {
    padding: 5px 15px;
    background: $gray;
    color: $cu-red;
    border-radius: 4px;
  }

  .previous_page, .next_page {
    padding: 10px 15px;
    margin: 0 5px;
    background: $cu-red;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

    &:hover:not(.disabled) {
      background: $light-cu-red;
    }
  }
}