.pill-buttons {
  a:first-child {
    border-radius: 3px 0 0 3px;
  }

  a:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid $dark-gray;
  }

  a {
    font-family: $heading-font-family;
    color: $dark-gray;
    display: inline-block;
    border: 1px solid $dark-gray;
    border-right: none;
    line-height: 24px;
    margin: 0;
    padding: 0 $base-spacing;
    min-width: 90px;
    transition: all 100ms;

    &:hover, &:focus {
      background-color: #eee;
    }
    &:active, {
      background-color: $blue;
      color: white;
    }
  }

  a.active {
    background-color: $blue;
    color: white;
  }
}