// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "bourbon";
@import "base/base";
@import "neat";
@import "jquery.datetimepicker";
@import "refills/*";
@import "selectize";
@import "selectize.default";

body {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid $light-gray;
  background-color: darken(white, 2%);
  padding: 0;

  .navbar-left {
    float: left;
    a {
      color: $base-font-color;
    }

    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 10px $base-spacing 10px $base-spacing;
      float: left;
    }

    h1 {
      font-family: $base-font-family;
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
      margin-right: $base-spacing;
    }
  }

  .navbar-right {
    float: right;
    p {
      display: inline-block;
      padding: 0 $base-spacing;
    }
  }

  .navbar-button {
    display: inline-block;
    padding: 0 $base-spacing;
    background-color: $blue;
    color: white !important;
  }
}

.home-button {
  display: block;
  margin-bottom: $base-spacing;
}

.admin-content {
  @include outer-container;
  padding: 0 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.admin-site-title {
  text-align: center;
  h1 {
    font-size: 2em;
    margin-bottom: 0px;
    @include media($medium-screen ) {
      font-size: 3em;
    }
  }
  margin-bottom: $base-spacing;
}

.admin-page-header {
  @include clearfix;
  .admin-page-title {
    float: left;
  }
  a {
    line-height: 2em;
    float: right;
  }
}

.admin-emergency-header {
  @include outer-container;
  vertical-align: middle;
  h1 {
    @include span-columns(8);
  }
  a {
    text-align: right;
    @include span-columns(4);
  }
}

.admin-page-title {
  font-size: 2em;
  img {
    height: 1em;
    opacity: 0.2;
  }
}

.field {
  margin-bottom: $base-spacing;
}

.device-checkboxes-table {
  table-layout: auto;
}

.submit-emergency {
  text-align: center;
  input {
    width: 50%;
    margin: $base-spacing 0;
  }
}

.slide-preview {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

// Slide forms
.slide-preview-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.34%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }
}

.admin-content .actions {
  margin-bottom: $base-spacing;
}

.slide-time-range {
  .field {
    @include span-columns(6);
  }
}

.show-slide-settings{
  margin-top: $base-spacing;
}

.slide-fields {
  @include span-columns(6);
}

.slide-live-preview {
  @include span-columns(6);
}

.ui-sortable-helper {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  border-left: 3px $action-color solid !important;
  border-right: 3px $action-color solid !important;
  opacity: 0.9;
}

.device-inactive, .device-active {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.device-active {
  width: 8px;
  height: 8px;
  background-color: #4CE737;
  box-shadow: 0 0 5px 5px #4CE737;
}

.device-inactive {
  background-color: $light-gray
}

#error_explanation {
  padding: $base-spacing;
  background-color: #f39c12;
  margin-bottom: $base-spacing;
  border: 1px solid darken(#f39c12, 10%);
  border-radius: $base-border-radius;

  ul {
    list-style-type: disc;
    margin-left: $base-spacing;
  }
}

.sign-in-form {
  max-width: 35em;
  margin: 0 auto;
}

.play-device-row {
  border: 1px solid $light-gray;
  background-color: darken(white, 2%);
  padding: $base-spacing;
  margin: 10px 0;
  min-height: em(64px) + ($base-spacing * 2);
  img {
    float: left;
  }

  h2 {
    color: $base-font-color;
    display: inline-block;
    font-size: 24px;
    margin: 17px 0px 0px $base-spacing;
  }
  .slide-count {
    font-size: 14px;
    font-weight: normal;
    font-family: $base-font-family;
  }
}

.admin-device-slides-preview {
  margin-bottom: $base-spacing * 2;
}

.device-editors {
  .selectize-control {
    display: inline-block;
    width: 50%;
    @include span-columns(10);
  }
  input[type="submit"] {
    @include span-columns(2);
  }
}

.add-device-editors-container {
  margin-top: $base-spacing;
}