/* Futura
   ========================================================================== */

@font-face {
  font-family: "Futura";
  src: font-url('Futura-400.eot') format("eot"),
       font-url('Futura-400.woff') format("woff"),
       font-url('Futura-400.ttf')  format("truetype");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: font-url('Futura-400-italic.eot') format("eot"),
       font-url('Futura-400-italic.woff') format("woff"),
       font-url('Futura-400-italic.ttf')  format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: font-url('Futura-700.eot') format("eot"),
       font-url('Futura-700.woff') format("woff"),
       font-url('Futura-700.ttf')  format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  font-style: italic;
  src: font-url('Futura-700-italic.eot') format("eot"),
       font-url('Futura-700-italic.woff') format("woff"),
       font-url('Futura-700-italic.ttf')  format("truetype");
}

@font-face {
  font-family: "Futura Light";
  src: font-url('Futura-300.eot') format("eot"),
       font-url('Futura-300.woff') format("woff"),
       font-url('Futura-300.ttf')  format("truetype");
}

@font-face {
  font-family: "Futura Light";
  font-style: italic;
  src: font-url('Futura-300-italic.eot') format("eot"),
       font-url('Futura-300-italic.woff') format("woff"),
       font-url('Futura-300-italic.ttf')  format("truetype");
}

/* Rooney Sans
   ========================================================================== */

@font-face {
  font-family: "Rooney Sans";
  src: font-url('Rooney_Sans-400.eot') format("eot"),
       font-url('Rooney_Sans-400.woff') format("woff"),
       font-url('Rooney_Sans-400.ttf')  format("truetype");
}

@font-face {
  font-family: "Rooney Sans";
  font-style: italic;
  src: font-url('Rooney_Sans-400-italic.eot') format("eot"),
       font-url('Rooney_Sans-400-italic.woff') format("woff"),
       font-url('Rooney_Sans-400-italic.ttf')  format("truetype");
}

@font-face {
  font-family: "Rooney Sans Bold";
  src: font-url('Rooney_Sans-700.eot') format("eot"),
       font-url('Rooney_Sans-700.woff') format("woff"),
       font-url('Rooney_Sans-700.ttf')  format("truetype");
}

@font-face {
  font-family: "Rooney Sans Bold";
  font-style: italic;
  src: font-url('Rooney_Sans-700-italic.eot') format("eot"),
       font-url('Rooney_Sans-700-italic.woff') format("woff"),
       font-url('Rooney_Sans-700-italic.ttf')  format("truetype");
}
