<header class="ui-head wacubo" role="banner">
  <h1 id="chapman-logo" class="ui-logo ui-logo-wacubo"></h1>

  <subhead class="ui-location">
    <p class="ui-location-name"><%= @sign.location %></p>
    <p class="ui-location-time"></p>
  </subhead>
</header>